<% if logged_in? -%>
  <div id="login-bar-greeting">Logged in as <%= @user %></div>
  <div id="login-bar-action"  >(<%= link_to "Log out", session_path %>)</div>
<% else -%>
  <div id="login-bar-greeting">Not logged in</div>
  <div id="login-bar-action"  ><%= button_to "Log in", session_path %>
                               </div>
<% end -%>
