<table class="ublog-table">
  <tr>
  <% if reply  %>
    <td colspan="3" class="ublog-separator"></td>
  <% else %>
    <td colspan="2" class="ublog-separator"></td>
  <% end %>
  </tr>
<% for blog in @blogs %>
<%= render :partial => "homes/blog.iframe.erb", :locals => { :blog => blog, 
  :home_id => @home.id, :owned_account => @owned_account, 
  :author_id => @new_blog.home_id, :mobile => false, :reply => reply } %>
<% end %>
</table>
