<%= periodically_call_remote :method => :get, :url => tags_path + ".js", :update => "inner_recent", :frequency => 60 %>
<div id="inner_recent">
<script type="text/javascript">
//<![CDATA[
new Ajax.Updater('inner_recent', '/tags.js', {asynchronous:true, evalScripts:true, method:'get'});
//]]> 
</script>
</div>
  
  