<h1>New Photo</h1>

<h3>For best results please crop your photo to a square shape before uploading.</h3>
<h3>Make sure the image file is less than 3 megabytes.</h3>

<%= error_messages_for :asset %>

<% form_for(:asset, :url => home_assets_path(@home), 
                      :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="asset">Upload A Photo:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= submit_tag 'Create' %>
  </p>
<% end -%>

<%= link_to 'Back', home_path(@home) %>
