body {
  background-color: #ffe6aa;
  font-family: Verdana,"Lucida Grande",Tahoma,Arial,sans-serif;
  font-size: 10pt;
  color: brown;
}

h1 {
  text-align: center;
}

p.smaller {
  font-size: 7pt;
}

#logo a img {border: none;}

.rss-symbol a img {border: none;}

#main_content {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 150px;
  width: 700px;
}

#new-description {
  font-size: 1.1em;
}

#error {
  color: red;
}

#notice {
  color: green;
}

#header {
  background-color: #c8aa6e;
  text-align: left;
}

#footer {
  text-align: center;
  font-size: 0.8em;
  color: black;
}
  
#search {
}

#friends {
  text-align: left;
}

#top-bar {
  text-align: center;
  font-weight: bold;
}

#right-bar {
  width: 220px;
  float: right;
  text-align: center;
  padding-right: 15px;
  padding-top: 20px;
  padding-left: 10px;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: grey;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: grey;
}

#owner-details {
  color: blue;
}

#page-turner {
  color: black;
  padding-top: 10px;
  width: 200px;
}

#filters {
  color: black;
  width: 200px;
  padding-bottom: 5px;
}

#group-list {
  margin-top: 20px;
  color: black;
}

#group-main {
  margin-left: 200px;
}

#Notification {
  text-align: center;
  padding-bottom: 20px;
}

#blog_reply {
  margin-left: 50px;
}

.time-stamp {
  color: grey;
  font: serif;
}

.ublog-when, .ublog-source {
  color: grey;
  font: serif;
}

.page-button {
  border: 1px solid #006;
  background-color: #f0f0ff;
}

.fixed-width {
  width: 40%;
}

.fixed-padding {
  padding-top: 2px;
  padding-bottom: 2px;
 }
 
.red-border {
  border: 2px solid red;
}

.bold {
  font-weight: bold;
}

.red-bold {
  color: red;
  font-weight: bold;
}
  
.grey {
  color: grey;
}

.center {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.separated {
  margin-right: 0.5cm;
}

.uline {
  border-bottom: thin solid gray;
}

.ublog-separator {
  border-bottom: thin solid gray;
}

.no-border {
  border: none;
}

.ublog-sender-image {
  border: none;
}

.ublog-delete {
  border: none;
}

#filter-label {
}

#filter-3 {
  float: right;
}

#filter-2 {
}

#filter-1 {
  float: left;
  margin-right: 0.3cm;
}

#by-tag {
  border: 2px solid red;
  padding: 2px;
  margin: 2px;
}
  
#button-right {
  float: right;
  margin-top: 0.5cm;
}

#button-left {
  margin-top: 0.5cm;
}

.single-space {
  margin-top: 0cm;
  margin-bottom: 0cm
}
