<div id="header">
  <span id="logo">
    <% unless session[:narrow_view] %>
      <%= link_to image_tag("/images/ublog.png", :title => "My Home"), homes_path %>
    <% else %>
      <%= link_to image_tag("/images/ublog_mobile.png", :title => "My Home"), homes_path %>
    <% end %>
  </span>
</div>
